MONGO_URL=mongodb://mongodb:27017/nexus_notify
REDIS_URL=redis://redis:6379
KAFKA_BROKER=kafka:9092
INTERNAL_API_KEY=change-me-internal-key
JWT_SECRET=change-this-to-a-long-random-string-minimum-32-chars
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30
